$header-height: 50px;
$sidebar-width: 90px;
$block-height: 600px; 


*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/bootstrap-utilities.scss";
@import "../../node_modules/bootstrap/scss/bootstrap-reboot.scss";

p {
  font-family:  'Open Sans';
  src: url("fonts/OpenSans-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

ss{
  font-size: xx-small;
  font-family: 'Open Sans';
  src: url("fonts/OpenSans-Semibold.ttf") format("truetype");
  color: #8f99b1
}


.text-bold {
  font-weight: bold; 
}


.header{
  background-color: #34383c;
  height: $header-height;
}

.search-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.settings{
  background-color: #1e2327;
  height: $header-height;
}

.drbutt{
  background-color: #1e2327;
  border-color: #1e2327;
}

.bar{
  box-sizing: border-box;
    flex-shrink: 0;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y)
}

.sidebar {
  //height: calc(100vh - $header-height);
  width: $sidebar-width;
  background-color: #4d5e84;
}

.progress{
  width: 100%;
}

.content {
  width: calc(100vw - $sidebar-width);
  background-color: #f2f2f2;
}

.second-row {
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.left-margin{
  margin-left: 4.5%;
}

.nav-item{

  &.active{
    opacity: 0.15;
    background-color: rgb(71, 70, 70);
  }
}


.text {
  font-size: 18px; 
  color: #777; 
}


.progress-bar {
  background-image: linear-gradient(to right,rgb(255, 72, 72), rgb(94, 218, 94)); 
  position: relative;
  transition: all 0.5s ease;
  width: 100%;
  overflow: hidden;
}

.gradient-fill {
  height: 100%; 
  position: absolute;
  top: 0;
  right: 0;     
  background: #dde7ed;
}

.progress-text {
  font-size: 16px; 
  color: #777; 
  position: absolute;
  top: 0;
  left: 92%;
}
