$header-height: 50px;
$sidebar-width: 90px;
$block-height: 600px; 


*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/bootstrap-utilities.scss";
@import "../../node_modules/bootstrap/scss/bootstrap-reboot.scss";

p {
  font-family:  'Open Sans';
  src: url("fonts/OpenSans-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

ss {
  font-size: xx-small;
  font-family: 'Open Sans';
  src: url("fonts/OpenSans-Semibold.ttf") format("truetype");
  color: #8f99b1
}

d3{
  font-weight: 900; color:
   rgb(253, 235, 235)
}

.hrw{
  width: 82.3%;
}


.text-bold {
  font-weight: bold;
  color: gray; 
  margin-left:2%; 
  margin-top:1% 
}


.header{
  background-color: #34383c;
  height: $header-height;

  &.white{
    background-color: #ffffff;
  }
}

.bc_head_row{
  width: 3%;
  margin-top: 5px;
  margin-left:10px;
}

.search-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.settings{
  background-color: #1e2327;
  height: $header-height;
}

.rfil{
  height: $header-height;
  background-color: #fafafa;
   width: 17.7%; 
   text-align: center;
}

.drbutt{
  width: 100%; 
  height: 100%; 
  --bs-btn-hover-bg: #1e2327; 
  --bs-btn-bg: #1e2327; 
  --bs-btn-active-bg:#2b3135 ;
}

.bar{
  box-sizing: border-box;
    flex-shrink: 0;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
    display: flex; 
    align-items: center; 
    padding: 15px; 
    position:relative;
}

.sidebar {
  //height: calc(100vh - $header-height);
  width: $sidebar-width;
  background-color: #4d5e84;
}

.ud_sidebar{
   background-color: #5f6e91;
}

.sppedGraph{
  height: 90%;
  position: relative;
  bottom: -25px;
}

.card-body{
  background-color: white;
  height: 100%;
  padding: 0;
  display: flex;
  &.graph{
    justify-content: center;
  }
}

.WaveGraph{
  width:100%;
}

.progress{
  width: 100%;
}

.content {
  width: calc(100vw - $sidebar-width);
  background-color: #f2f2f2;
}

.second-row {
  display: flex;
  // align-items: center; 
  // justify-content: center; 
}

.second-one-row{
  height: 250px;

}

.another-second-row{
  background-color:#ffffff; 
  padding-top:10px;
}

.left-margin{
  margin-left: 4.5%;
}

.nav-item {
  height: 75px;

  &.active{
    opacity: 0.15;
    background-color: rgb(71, 70, 70);
  }
}


.text {
  font-size: 18px; 
  color: #777; 
}


.progress-bar {
  background-image: linear-gradient(to right,rgb(242, 72, 55), rgb(35, 194, 146)); 
  position: relative;
  transition: all 0.5s ease;
  width: 100%;
  overflow: hidden;
}

.gradient-fill {
  height: 100%; 
  position: absolute;
  top: 0;
  right: 0;     
  background: #dde7ed;
}

.progress-text {
  font-size: 16px; 
  color: #777; 
  position: absolute;
  top: 0;
  left: 92%;
}

.card{
  position: relative;
  display: block;
  height: 75%;
  &.begin{
      position: relative;
      display: flex;
      height:  100%;
  }
  
}

.GraphLabel{
    font: sans-serif;
    font-size: 34px; 
    color: #333;
    position: absolute;
    right: 137px;
    //top: 50px;
    height: 30px;
}

.Lab{
  top: 62px;
  position: absolute;
  right: 26%;
  font: sans-serif;     
  font-size: 24px; 
  color: white;
  display: flex;
  color: #fff;
  border-radius: 35%;
  width: 50px;
  height: 25px;
  text-align: center;
  justify-content: center;
}


.btn-group-sm{
  position: absolute; 
  right: 10px;
}

.btn-link{
  color: grey;
  &.active{
    color: green;
  }
}

.the-last-row{
  height: 450px;
}